#container { margin-left: auto;
		margin-right: auto;
		width: 80%; }

body { background-color: #ffdfff;
	background-image: url("pink_grid.png");
	font-family: Century Gothic, Segoe UI, sans-serif;
	font-size: 11pt;
	color: #000000; }

a { color: #743D8E;
	text-decoration:none; }

a:visited { color: #FFFFFF; }

img { border: none;
	padding: 2px; }

.category { font-weight: bold;
	font-size: 1.2em; }

#footer { text-align: center; }

#footernav { 
	width: 80%;
	font-size: .75em;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;}

#imgnav { margin-left: auto;
	margin-right: auto;
	text-align: center; 
	width: 80%; }

#rightcolumn { float: right;
		width: 210px;
		background-color: #CDB4EA;
		color: #512882;
		padding: 5px;}

#leftcolumn { margin-right: 250px;}

table { border: none;
	margin-left: auto;
	margin-right: auto;}


td { border: 1px solid #CDB4EA;
	padding: 10px; }

th { border: 1px solid #CDB4EA;
	padding: 10px; }
	
a:hover {
	text-decoration:none;
}

#interface1 {
	z-index:1;
}

#loader_container {
    text-align:center;
    position:absolute;
    top:40%;
    width:100%}

#loader {
	font-family:Tahoma, Helvetica, sans;
	font-size:10px;
	color:#000000;
	background-color:#FFFFFF;
	padding:10px 0 16px 0;
	margin:0 auto;
	display:block;
	width:135px;
	border:1px solid #6A6A6A;
	text-align:left;
	z-index:255;
}

#progress {
	height:5px;
	font-size:1px;
	width:1px;
	position:relative;
	top:1px;
	left:10px;
	background-color:#9D9D94
}

#loader_bg {
	background-color:#EBEBE4;
	position:relative;
	top:8px;left:8px;height:7px;
	width:113px;font-size:1px
}

.border_preview{
	z-index:100;
	position:absolute; 
	background: #fff;
	border: 1px solid #444;
}

.preview_temp_load {
	vertical-align:middle;
	text-align:center;
	padding: 10px;
}
.preview_temp_load img{	
	vertical-align:middle;
	text-align:center;
}



/*Image Title Styling*/

.title_h2 {
 padding:12px 0 0 18px;
}

h2 {
	padding:0;
	margin:0;
	font-family: "century gothic";
}